<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Über mich</h2>
                    <h3 class="section-subheading text-muted">Stationen bis hierher</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1994-2016</h4>
                                    <h4 class="subheading">Arbeit in der Wirtschaft</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">von Surflehrer bis Bürojobs</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2005</h4>
                                    <h4 class="subheading">Studium Kommunikationswissenschaft</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">an der Uni Wien, nebenbei Studentenjobs</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2007</h4>
                                    <h4 class="subheading">Reise nach Asien</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Erlernen von Meditation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2025</h4>
                                    <h4 class="subheading">Ausbildungen</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lehramt neue Mittelschulen, Ausbildung Psychotherapie,Praxiseröffnung</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Jetzt
                                    <br>Therapie
                                    <br>beginnen</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
