<!DOCTYPE html>
<html lang="de">
<head><meta charset="UTF-8"><title>Kontakt Test</title></head>
<body>
  <form action="https://formsubmit.co/richard@richardwolf.co.at" method="POST">
    <input type="hidden" name="_captcha" value="false">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <textarea name="message" placeholder="Nachricht" required></textarea><br>
    <button type="submit">Senden</button>
  </form>
</body>
</html>

