<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">mein Ansatz</h2> <!-- ist erster Punkt auf hp -->
                    <h3 class="section-subheading text-muted">personzentrierte Psychotherapie</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Begleitung</h4>
                    <p class="text-muted">In meiner Praxis begleite ich Menschen in schwierigen Lebensphasen, bei psychischen Belastungen oder einfach auf der Suche nach mehr Klarheit und Lebensfreude.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Traumasensibel</h4>
                    <p class="text-muted">Traumatische Erfahrungen können unser Leben tiefgreifend beeinflussen – oft auch unbewusst. In meiner Arbeit lege ich besonderen Wert auf eine
    <strong>traumasensible Haltung</strong>: achtsam, respektvoll und frei von Druck. Sie bestimmen das Tempo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-rock-o fa-stack-1x fa-inverse"></i>
<!-- war <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Selbstermächtigung</h4>
                    <p class="text-muted">Ziel ist es nicht, Sie von mir oder einem anderen Therapeuten abhängig zu machen, damit Sie jahrelang Therapie machen müssen. Ziel ist es, Sie durch Begleitung dazu zu bekommen, Ihre Probleme selbst lösen zu können.</p>
                </div>
            </div>
        </div>
    </section>
